logs
*.log
npm-debug.log*
node_modules

.next/
out/
dist/
build/

.DS_Store
Thumbs.db

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode/

# Terraform files
.terraform/
*.tfplan
*.tfstate
*.tfstate.backup
.terraform.lock.hcl